#logo {
  position:absolute;
  top: 0px;
  right: 0px;
}

.navbar {
  position:relative;
}

.form-control{
  border-width:5px;
  border-color: rgb(40, 52, 186);
}


.display-4{
  text-align: center;
  position: relative;
  top:90px;
}

.lead{
  text-align: center;
  position: relative;
  top:90px;
}


.container h1 {
  text-align: center;
  position: relative;
  top: 80px;
}



#firebaseui-auth-container {
  position: relative;
  top: 120px;
  }


  .display-4{
    text-align: center;
    position: relative;
    top:90px;
  }

  .lead{
    text-align: center;
    position: relative;
    top:90px;
  }


body {
  height: 100%;
  margin: 0%;
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg iframe {
  height: 100%;
  width: 100%;
  position: absolute;
}

.click-to-map{
  text-align: center;
  position: relative;
  top: 100px;
}

.input-group{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.btn {
  border-color: rgb(40, 52, 186);
  border-width: 2px;
  background-color: white;
}


svg {
  width: 100%;
  position: relative;
  top: 20%;
}


#slider {
  position: relative;
  top: 75%;
  border: 2px solid black;
  margin: 10px auto;
  width: 50%;
  padding: 2%;
  background-color: white;

}

#sliderstatus {
  position: relative;
  left: 10%;
}

#slidebar {
  position: relative;
  left: 25%;
}

#radiustext {
  position: relative;
  left: 15%;
}


#circle {
  width: 100px; 
  height: 100px; 
  background: red; 
  border-radius: 100px;
  position:relative;
  top: 30%;
  left: 40%;
  filter:opacity(50%)!important;
}

.button {
  background-color: blue;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  left: 15%;
  
}

.setalarm {
  border-color: black!important;
  background-color: grey;
  color: black;
  border-radius: 4px solid black;
}

.setalarm:hover{
  background-color: blue;
  color: white;
}




